{% extends "base.html" %}
{% block content %}

<div class="post-content">
  <h1>{{ topic | capitalize }}</h1>

  {% for post in posts %}
    {% if loop.changed(post.date.strftime("%Y")) %}
        <h2>{{ post.date.strftime("%Y") }}</h2>
    {% endif %}
    <div class="post-date">
      <time datetime="{{ post.date.strftime('%Y-%m-%d') }}">{{ post.date.strftime("%d %B") }}</time>
    </div>
    <a class="post-link" href="{{ site.base_url }}{{ post.url }}">{{ post.title }}</a>

  {% endfor %}
</div>
{% endblock %}
